body html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#renderCanvas{
    width: 100%;
    height: 100vh;
    display: block;
}

#debug {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;
    color:white;
    font-family: monospace;
    font-size: 1rem;
    padding: 8px;
}