body html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

html body canvas{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
    touch-action: none;
}